<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'blog/images/favicon.ico' %}">
    <title>Elena's Blog</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/all_blogs.css' %}">
    <header>
        <nav>
            <div class="navigation">
                <a href="https://www.linkedin.com/in/elena-kolomeets-72063517a/" target="_blank">
                    <input class="nav_btn" type="submit" value="LinkedIn">
                </a>
                <br/>
                <a href="https://github.com/elena-kolomeets" target="_blank">
                    <input class="nav_btn" type="submit" value="GitHub">
                </a>
                <br/>
                <a href="{% url 'home' %}">
                    <input class="portf_btn" type="submit" value="Portfolio">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <br/><br/><br/>
        <h1>Elena's Blog</h1>
        <br/><br/>
        <article>
            {% for blog in blogs %}
            <section>
                <a href="{% url 'blog:detail' blog.id %}"><h3>{{ blog.title }}</h3></a>
                <h5>{{ blog.date|date:'M d Y' }}</h5>
                <h4>{{ blog.text|striptags|truncatechars:100 }}</h4>
            </section>
            {% endfor %}
        </article>
            <br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/><br/>
    </main>
    <footer>
        <hr/>
        <br/><br/><br/>
        <div class="foot">
            <a href="{% url 'home' %}">Portfolio</a>
            <a href="https://www.linkedin.com/in/elena-kolomeets-72063517a/" target="_blank">LinkedIn</a>
            <a href="https://github.com/elena-kolomeets" target="_blank">GitHub</a>
            <a href="mailto:kolomeets.elena7gmail.com">Email</a>
            <a href="">&copy;  Elena Kolomeets 2020</a>
        </div>
        <br/><br/><br/>
    </footer>
</body>
</html>