<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'blog/images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Blog {{ blog.id }}</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/detail.css' %}">
    <header>
        <nav>
            <div class="navigation">
                <a href="{% url 'blog:all_blogs' %}">
                    <input class="nav_btn" type="submit" value="Blog">
                </a>
                <br/>
                <a href="{% url 'home' %}">
                    <input class="nav_btn" type="submit" value="Portfolio">
                </a>
            </div>
        </nav>
    </header>
    <main>
        <br/><br/><br/>
        <article>
            <div>
                <h1>{{ blog.title }}</h1>
                <h5>{{ blog.date|date:'M d Y' }}</h5>
                <br/>
                <h4>{{ blog.text|safe }}</h4>
            </div>
        </article>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
    </main>
    <footer>
        <hr/>
        <br/><br/><br/>
        <div class="foot">
            <a class="foot1" href="{% url 'blog:all_blogs' %}">Blog</a>
            <a class="foot1" href="{% url 'home' %}">Portfolio</a>
            <a class="foot1" href="https://www.linkedin.com/in/elena-kolomeets-72063517a/" target="_blank">LinkedIn</a>
            <a class="foot2" href="https://github.com/elena-kolomeets" target="_blank">GitHub</a>
            <a class="foot2" href="mailto:kolomeets.elena7gmail.com">Email</a>
            <a class="foot2" href="">&copy;  Elena Kolomeets 2020</a>
        </div>
        <br/><br/><br/>
    </footer>
</body>
</html>