::selection {
  background: #93ece7;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}
html {
    font-family: 'Playfair Display', serif;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav_btn {
    color: black;
    margin: 5px;
    background-color: white;
    border: none;
    outline:none;
    width: 90px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;
}
.nav_btn:hover {
    background-color: #009999;
}
.blog_btn {
    color: white;
    margin: 5px;
    background-color: #009999;
    border: none;
    outline:none;
    width: 90px;
    height: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;

}
.blog_btn:hover {
    background-color: #006666;
}
.name {
    display: flex;
    justify-content: center;
}
.name img{
    max-width: 40%;
    object-fit: cover;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: appear;
    animation-duration: 2s;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 70%
}
section:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
}
section:hover {
    background-color: #e9fcfb;
}
.content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.img {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn {
    background-color: White;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    outline:none;
    width: 70px;
    height: 30px;
    margin: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 0.9em;

}
.btn:hover {
    background-color: #009999;
}
h1 {
    color: #006666;
    text-align: center;
    font-weight: normal;
    text-shadow: 0.5px 0.3px SlateGray;
}
h2 {
    color: DarkSlateGray;
    text-align: center;
    font-weight: normal;
    font-size: 1.7em;
    text-shadow: 0.5px 0.3px SlateGray;
}
h3 {
    color: Teal;
}
hr {
    border-top: 1px solid LightGray;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot a:link {
    color: #006666;
    text-decoration: none;
}
.foot a:visited {
    color: #006666;
    text-decoration: none;
}
.foot a:hover {
    color: Gray;
    text-decoration: none;
}
.foot a:active {
    color: #006666;
    text-decoration: none;
}
@media (max-width: 700px) {
    .navigation {
        justify-content: center;
    }
    .nav_btn, .blog_btn {
        width: 100px;
        height: 35px;
        font-size: 1em;
    }
    .name img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    section {
        flex-direction: column;
        width:80%;
    }
    section:nth-child(even) {
        flex-direction: column;
    }
    .content {
        flex: 100%;
        max-width: 100%;
        text-align: center;
    }
    .img {
        flex: 100%;
        max-width: 100%;
    }
    .foot {
        flex-direction: column;
        align-items: center;
    }
    .foot a {
        padding-top: 10px;
    }
}
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100%;}
}
